/* You can add global styles to this file, and also import other style files */

body{
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}
