<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br/>
      <div class="card">
        <div class="card-body">
          <h3 class="text-center text-primary text-bold"><i class="fa-solid fa-paper-plane"></i> Book a flight</h3>
          <form [formGroup]="form">
            <div class="mb-3">
              <label for="fullName" class="form-label">Fullname</label>
              <input type="text" class="form-control" id="fullName" formControlName="fullName" [ngModel]="flightData.fullName" placeholder="Enter your name">
              <div class="form-text text-warning" *ngIf="form.get('fullName')?.errors?.['required']">กรุณาใส่ชื่อของคุณ!</div>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <label for="Form" class="form-label">From</label>
                  <select class="form-select" formControlName="from" [ngModel]="flightData.from">
                    <option value="Bangkok">Bangkok - BKK</option>
                    <option value="Tokyo">Tokyo - TYO</option>
                    <option value="Seoul">Seoul - SEL</option>
                    <option value="Singapore">Singapore - SIN</option>
                    <option value="Kuala">Kuala Lumpur - KUL</option>
                    <option value="London">London - LON</option>
                    <option value="Madrid7">Madrid - MAD</option>
                    <option value="New York">New York - NYC</option>
                  </select>
                  <div class="form-text text-warning"  *ngIf="form.get('from')?.errors?.['required']">กรุณาเลือกจุดขี้นเครื่อง!</div>
                </div>
                <div class="col">
                  <label for="To" class="form-label">To</label>
                  <select class="form-select" formControlName="to" [ngModel]="flightData.to">
                    <option value="Bangkok">Bangkok - BKK</option>
                    <option value="Tokyo">Tokyo - TYO</option>
                    <option value="Seoul">Seoul - SEL</option>
                    <option value="Singapore">Singapore - SIN</option>
                    <option value="Kuala">Kuala Lumpur - KUL</option>
                    <option value="London">London - LON</option>
                    <option value="Madrid7">Madrid - MAD</option>
                    <option value="New York">New York - NYC</option>
                  </select>
                  <div class="form-text text-warning"  *ngIf="form.get('to')?.errors?.['required']">กรุณาเลือกจุดลงเครื่อง!</div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col-md-5">
                  <label for="Form" class="form-label">Trip type</label>
                  <div class="row">
                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" value="One-Way" id="One_Way" [ngModel]="flightData.type" formControlName="type">
                        <label class="form-check-label" for="One_Way">
                          <small>One-Way</small>
                        </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" value="Return" id="Return" [ngModel]="flightData.type" formControlName="type">
                        <label class="form-check-label" for="Return">
                          <small>Return</small>
                        </label>
                      </div>
                    </div>
                    <div class="form-text text-warning" *ngIf="form.get('type')?.errors?.['required']">กรุณาเลือกประเภทการเดินทาง!</div>
                </div>
                </div>
                  <div class="col">
                    <div class="dp-hidden position-absolute">
                      <div class="input-group">
                        <input name="datepicker"
                               class="dp-hidden"
                               ngbDatepicker
                               #datepicker="ngbDatepicker"
                               [autoClose]="'outside'"
                               (dateSelect)="onDateSelection($event)"
                               [displayMonths]="2"
                               [dayTemplate]="t"
                               outsideDays="hidden"
                               [startDate]="fromDate!"
                               tabindex="-1">
                        <ng-template #t let-date let-focused="focused">
                          <span class="custom-day"
                                [class.focused]="focused"
                                [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)"
                                (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                          </span>
                        </ng-template>
                      </div></div>
                    <label class="form-check-label" for="Departure">
                      Departure
                    </label>
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                             ngbDatepicker
                             #dpFromDate
                             [value]="formatter.format(fromDate)"
                             (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                      <button class="btn btn-outline-primary" (click)="datepicker.toggle()" type="button"><i class="fa-solid fa-calendar-day"></i></button>
                    </div>

                   </div>
                  <div class="col">
                    <label class="form-check-label" for="Arrival">
                      Arrival
                    </label>
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                             ngbDatepicker
                             #dpToDate
                             [value]="formatter.format(toDate)"
                             (input)="toDate = validateInput(toDate, dpToDate.value)">
                      <button class="btn btn-outline-primary" (click)="datepicker.toggle()" type="button"><i class="fa-solid fa-calendar-day"></i></button>
                    </div>
                  </div>

              </div>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <label for="Adults" class="form-label">Adults</label>
                  <input type="number" class="form-control" id="adults" placeholder="0" [ngModel]="flightData.adults" formControlName="adults">
                  <div class="form-text text-warning" *ngIf="form.get('adults')?.errors?.['required']">กรุณาใส่จำนวนผู้โดยสาร!</div>
                </div>
                <div class="col">
                  <label for="Children" class="form-label">Children</label>
                  <input type="number" class="form-control" id="children" placeholder="0" [ngModel]="flightData.children" formControlName="children">
                  <div class="form-text text-warning" *ngIf="form.get('children')?.errors?.['required']">กรุณาใส่จำนวนผู้โดยสาร!</div>
                </div>
                <div class="col">
                  <label for="Infants" class="form-label">Infants</label>
                  <input type="number" class="form-control" id="infants" placeholder="0" [ngModel]="flightData.infants" formControlName="infants">
                  <div class="form-text text-warning" *ngIf="form.get('infants')?.errors?.['required']">กรุณาใส่จำนวนผู้โดยสาร!</div>
                </div>
              </div>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="onSubmit(form)" >SUBMIT</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card">
        <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Form - To</th>
              <th>Type</th>
              <th>Depart - Arrival</th>
              <th>Adults</th>
              <th>Children</th>
              <th>Infants</th>
            </tr>
          </thead>
          <tr *ngFor="let f of flightList">
            <td>{{ f.fullName }}</td>
            <td>{{ f.from }} -> {{ f.to }}</td>
            <td>{{ f.type }}</td>
            <td>{{ f.departure }}<br>{{ f.arrival }}</td>
            <td>{{ f.adults }}</td>
            <td>{{ f.children }}</td>
            <td>{{ f.infants }}</td>
          </tr>
        </table>
      </div>
    </div>
    </div>
  </div>
</div>
